<div class="container">
    {{#each articles}}
    <ul class="collapsible" data-collapsible="accordion">
        <!-- Article Drop Down -->
        <li>
            <div class="collapsible-header blue-grey darken-3 white-text">
                <b>{{updated}}</b>
                <div style="clear: left; line-height: 110%; padding-bottom: 10px;"><b>{{title}}</b></div>
            </div>
            <div class="collapsible-body white">
                <p>
                    {{summary}}
                    <br><br>
                    <i>Read the full article <a href="{{link}}" target="_blank">here</a>.</i>
                </p>
            </div>
        </li>

        <!-- Add Comments Drop Down -->
        <li>
            <div class="collapsible-header"><i class="material-icons">add_box</i>Add Comment</div>
            <div class="collapsible-body white">

                <form id="form-add-{{_id}}" class="white" action="add/comment/{{_id}}" method="post">

                    <!-- Author Name Input -->
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                            <input id="author_name" name="name" type="text" class="validate">
                            <label for="author_name">Your Name:</label>
                        </div>
                    </div>

                    <!-- Comment Input -->
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                            <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
                            <label for="comment_box">Your Comment:</label>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                            <center><input class="btn add-comment-button" data-id="{{_id}}" type="submit" value="Submit"></center>
                        </div>
                    </div>

                </form>

            </div>
        </li>

        <!-- View Comments Drop Down -->
        <li>
            <div class="collapsible-header"><i class="material-icons">view_headline</i>View Comments</div>
            <div class="collapsible-body white">

                {{!-- Check if the article has comments --}} {{#if comments}} {{!-- Article has comments so iterate over them --}}
                <ul class="collection">
                    {{#each comments}}
                    <li class="collection-item">
                        {{!-- Add Author Name --}}
                        <b>{{author}}</b> {{!-- Add a Delete Button --}}
                        <span class="badge">
                  <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                    <input class="btn-small delete-comment-button red white-text" data-id="{{_id}}" type="submit" value="Delete" style="border-color: red;">
                  </form>
                </span>
                        <br> {{!-- Add the Content of the Comment --}} {{content}}
                    </li>
                    {{/each}}
                </ul>
                {{!-- No comments, so display message --}} {{else}}
                <p>No Comments Available.</p>
                {{/if}}
            </div>
        </li>
    </ul>
    {{/each}}
</div>